.icon {
    background-color: aqua;
    width: 50px;
    height: 50px;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main p {
    font-size: 14px;
}
