.editor {
  width: 100%;
  height: calc(100% - 50px); /* ajuste se precisar */
  overflow: hidden; /* evita expansão do container */
  display: flex;
  flex-direction: column;
}

/* Container principal do Jodit */
.jodit-container {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

/* Área editável */
.jodit-workplace {
  flex: 1 !important;
  overflow: auto !important; /* aqui gera o scroll */
}

/* Área de toolbar */
.jodit-toolbar__box {
  flex-shrink: 0 !important;
}


.modalOverlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.4);
}

.modal {
  background: white;
  padding: 16px;
  border-radius: 6px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal input,
.modal textarea {
  width: 100%;
  margin-top: 4px;
  padding: 6px;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}